{% extends 'form_layout.html.twig' %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block form_title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block form_content %}
    {% if not externalIdpOnTop %}
        {% include 'security/login_form.html.twig' %}
    {% endif %}

    {% if providers|length > 0 %}
        {% if not externalIdpOnTop %}
        <div class="col-md-12">
            <div class="login-or text-center mb-3">
                <hr class="hr-or">
                <span class="span-or">{{ 'login.or_sign_in_using'|trans }}</span>
            </div>
        </div>
        {% else %}
            <div class="col-md-12">
                <div class="text-center mb-3">
                    {{ 'login.sign_in_using'|trans }}
                </div>
            </div>
        {% endif %}

        <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap">
            {% for provider in providers %}
                <div class="text-center" style="margin:10px;">
                    <a href="{{ provider.entrypoint }}"
                       title="{{ provider.title }}"
                       class="btn btn-light">
                        {% if provider.logoUrl|default(false) %}
                        <div class="idp-logo{% if displayIdPTitle %} idp-logo-with-text{% endif %}">
                            <img src="{{ provider.logoUrl }}" alt="{{ provider.title }}">
                        </div>
                        {% endif %}

                        {% if displayIdPTitle or not provider.logoUrl|default(false) %}
                            <div>
                                {{ provider.title }}
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if externalIdpOnTop %}
            <div class="col-md-12">
                <div class="login-or text-center">
                    <hr class="hr-or">
                    <span class="span-or">{{ 'login.or'|trans }}</span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if externalIdpOnTop %}
        {% include 'security/login_form.html.twig' %}
    {% endif %}
{% endblock %}
