$(function () {
    $('body')
        .on('change', '.perm input[type=checkbox]', function () {
            const $tr = $(this).closest('tr');

            syncToggle($tr);
            updateAce($tr);
        })
        .on('click', 'input[name=all]', function () {
            var $tr = $(this).closest('tr');
            $tr.find('.perm input').prop('checked', $(this).is(':checked'));
            updateAce($tr);
        })
        .on('click', '.delete', function () {
            var $tr = $(this).closest('tr');
            $tr.remove();
            deleteAce($tr.data('type'), $tr.data('id'));
        });

    $('#aces tr').each(function () {
        syncToggle($(this));
    });

    function syncToggle($tr) {
        let checkedCount = $tr.find('.perm input[type=checkbox]:checked').length;
        if (checkedCount === {{ permissions|length }}) {
            $tr.find('.all-toggle input').prop('checked', true);
        } else if (checkedCount === 0) {
            $tr.find('.all-toggle input').prop('checked', false);
        }
    }

    function updateAce($tr) {
        let mask = 0;
        $tr.find('td.perm input').each(function () {
            mask += $(this).is(':checked') ? parseInt($(this).val()) : 0;
        });
        setPermissions($tr.data('type'), $tr.data('id'), mask);
    }

    function isInList(id, type) {
        return $('#aces').find('tr[data-id=' + id + '][data-type=' + type + ']').length === 1;
    }

    function setPermissions(userType, userId, mask) {
        $.ajax({
            type: 'PUT',
            url: '{{ path('alchemy_acl_admin_ace') }}',
            data: {
                objectType: '{{ object_type }}',
                objectId: {{ object_id is defined ? ("'"~object_id~"'")|raw : 'null' }},
                userId: userId,
                userType: userType,
                mask: mask
            }
        });
    }

    function deleteAce(userType, userId) {
        $.ajax({
            type: 'DELETE',
            url: '{{ path('alchemy_acl_admin_ace_delete') }}',
            data: {
                objectType: '{{ object_type }}',
                objectId: {{ object_id is defined ? ("'"~object_id~"'")|raw : 'null' }},
                userId: userId,
                userType: userType
            }
        });
    }

    function initSelect($select, userType) {
        $select
            .select2({
                width: '400px',
                placeholder: "Select " + userType + " to grant...",
                templateResult: function (state) {
                    if (!state.id) {
                        return state.text;
                    }
                    const disabled = isInList(state.id, userType);

                    return $(
                        '<span class="' + (disabled ? 'disabled ' : '') + state.element.className + '">' + state.text + '</span>'
                    );
                }
            })
            .on('select2:select', function (e) {
                const data = $(this).select2('data');
                const userId = data[0].id;

                $(this).val(null).trigger('change');
                if (isInList(userId, userType)) {
                    return false;
                }

                setPermissions(userType, userId, 0);

                const $newAce = $($('#row-template')
                    .html()
                    .replace(/\#USERTYPE\#/g, userType)
                    .replace(/\#USERID\#/g, userId)
                    .replace(/\#ENTITYNAME\#/g, data[0].text));
                if (userId === '{{ USER_WILDCARD }}') {
                    $newAce.addClass('type-wildcard');
                }
                $('#aces tbody').prepend($newAce);
            });
    }

    initSelect($('#group-select'), 'group');
    initSelect($('#user-select'), 'user');
});
